@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
    --primaryColor: rgb(4, 146, 162);

    --primaryColorDim: rgba(4, 146, 162, 0.08);
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--primaryColor);
    color: #fff;
}

body {
    font-family: 'Raleway',
        sans-serif;
    font-size: 16px;
    line-height: 1.25rem;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}